body {
	background-image: url('/img/sara/garganoimage.jpg');
	background-size: 100% 100%;
}
h2, h3, h4, h5 {
	color: green;
}
p {
	color: green;
}
fieldset {
	color: green;
}
function {
	color: green;
}
th {
	color:white;
}
h6 {
	color: white;
}
figcaption {
	color: white;
}
