body {
	background-image: url('/img/sara/garganoimage.jpg');
}
h1 {
	color: red;
}
h2 {
	color: orange;
}
h3 {
	color: #ff80c0;
}
h4 {
	color: #330fc6;
}
h5 {
	color: #ff0080;
}
h6 {
	color: #ff80c0;
}