<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>A Simple page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/mariangela/simple.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<h3>Table</h3>
	<div class="container-fluid">
		<table class ="table table-hover">
			<thead class = "thead-light">
			<tr>
				<th>ID</th>
				<th>NAME</th>
			</tr>
			</thead>
			<tr th:each="country: ${countries}" class = "table-warning">
				<td th:text =${region.regionId}></td>
				<td th:text =${country.countryId}></td>
				<td th:text =${country.countryName}></td>
			</tr>
		</table>
	</div>	
	
	<h3>Select-Option</h3>
	<select class="custom-select">
		<option th:each = "country: ${countries}"
			th:value="${region.regionId}"
			th:text="${country.countryId}"	
			th:text =${country.countryName}>
		</option>
	</select>

</body>
</html>