<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>A Simple page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/mariangela/simple.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<h1>Something simple</h1>
	
	 
		<h5>These are the available regions:</h5>
		<span th:text="${regions}">[]</span>	
	
		<h5>This is the first region in the list:</h5>
		<span th:text="${regions[0]}">Europe</span>	
	
	
		<div> 
		<h5>This is the first region in the list:</h5>
		<div th:object="${regions[0]}">
		<h5>Name:</h5>
			 <span th:text="*{name}"></span>
			 <br/>
		<h5>Id:</h5>
			<th:block th:switch = "*{id}">
				<span th:case ="1">I</span>
				<span th:case ="2">II</span>
				<span th:case ="*">III</span>
			</th:block>
		</div>
	</div>
	
	<h3>Table</h3>
	<div class="container-fluid">
		<table class ="table table-hover">
			<thead class = "thead-light">
			<tr>
				<th>ID</th>
				<th>NAME</th>
			</tr>
			</thead>
			<tr th:each="region: ${regions}" class = "table-warning">
				<td th:text =${region.id}></td>
				<td th:text =${region.name}></td>
			</tr>
		</table>
	</div>	
	
	<h3>Select-Option</h3>
	<select class="custom-select">
		<option th:each = "region: ${regions}"
			th:value="${region.id}"	
			th:text =${region.name}>
		</option>
	</select>

</body>
</html>