body {
	background-image : url('/img/mariangela/chewbe.jpg');
	background-size: 100%;
}
p{
	font-family: monospace;
}
.yellow {
	 text-shadow: 2px 2px 5px blue;
	text-align: center;
	color: #ffff00;
}

.black {
	
	text-align: center;
	color: #000000;
}

.center {
	text-align: center;
}

#favourite {

	background-color: white;
}

.box1 {
width: 500px;
height: 60px;
background-color: rgba(200, 200, 200, 0.7);
text-align: center;

}

.not-visible {
  visibility: hidden;
}