<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EDITBOOKING</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/project/green/green2.css">
</head>

<body id="bookings">
	<div class="container-fluid">
		<br />
		<br />
		<form id="newbooking"
			action="/project/green/booking/saveEditBook" method="get">
			
			<input name="bookingId" type="hidden" class="form-control"
				th:value="${bookingId}">

			<div class="form-group">
				<label>Client:</label>
				<select name="clientId"
					th:value="${clientId}">
					
					<option th:each="client:${clients}" th:value="${client.clientId}"
						th:text="${client.clientName}"
						th:selected="${client.clientId == booking.client.clientId}"></option>
						
				</select>
				<label>Hotel:</label>
				<select name="hotelId">
					<option th:each="hotel: ${hotels}" th:value="${hotel.hotelId}"
						th:text="${hotel.hotelName}"
						th:selected="${hotel.hotelId == booking.hotel.hotelId}">
					</option>
				</select>
			</div>
			<br />
<!--
			<div class="form-group">
				<label for="exampleInputCheckIn">Email</label> <input name="email"
					type="text" class="form-control" placeholder="Insert your email">
			</div>
			<br /> -->

				<!-- 	<p>
				<b> Payment </b><br /> <input type="checkbox" name="ds" value="map" />Credit
				Card<br /> <input type="checkbox" name="ds" value="list" />Debit
				Card<br /> <input type="checkbox" name="ds" value="set"
					checked="checked" />Paypal<br />
			</p>  -->

			<div class="form-group">
				<label for="exampleInputCheckIn">Check-In</label> <input
					name="checkIn" type="date" class="form-control"
					th:value="${booking.checkIn}">
			</div>
			<div class="form-group">
				<label for="exampleInputCheckOut">Check-Out</label> <input
					name="checkOut" type="date" class="form-control"
					th:value="${booking.checkOut}">
			</div>

  
			
			<br />

			<div class="form-group">
				<label>Payment:</label>
				<select name="payment">
					<option value="creditcard">Credit Card</option>
					<option value="debitcard">Debit Card</option>
					<option value="paypal">Paypal</option>
				</select>
			</div>
			<br />
			<!--  
			<div class="form-group">
				<label for="exampleInputPayment">Payment</label> <input
					name="payment" type="text" class="form-control"
					th:value="${booking.payment}">
			</div>    -->

			<button type="submit" class="btn btn-outline-success">Edit!</button>

		</form>

		<br /> <a href="/project/green/bookings"><button type="button"
				class="btn btn-outline-dark">Go Back</button></a> <a
			href="/project/green/login"><button type="button"
				class="btn btn-outline-light">Home</button></a>
	</div>
</body>
</html>