<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PREPAREBOOKINGS</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/project/green/green2.css">
</head>
<body>
<br>
		<a href="/project/green/login"><button type="button"
				class="btn btn-outline-light left">Home</button></a>
	<br />
	<form name="frmLog" action="/project/green/booking/insert"
			method="get">
	<div class="container-fluid">
		<div class="form-group">
			<label> Select Client Name: <select name="clientId">
					<option th:each="client:${clients}" th:value="${client.clientId}"
						th:text="${client.clientName}"></option>
			</select>
			</label>
		</div>

		<!--  <div class="form-group">
			<label>Select Hotel Name: </label> <select name="hotelId" >
			<option th:each="hotel: ${booking.hotel.hotelName}" > name </option>
			</select> -->
			
		<div class="form-group">
			<label> Select Hotel Name: <select name="hotelId">
					<option th:each="hotel:${hotels}" th:value="${hotel.hotelId}"
						th:text="${hotel.hotelName}"></option>

			</select>
			</label>
		</div>
		
	</div>
	<div class="container-fluid">
		<br />
		
			<div class="form-group">
				<label for="exampleInputCheckIn">Check-In</label> <input
					name="checkIn" type="date" class="form-control"
					placeholder="CheckIn" width="70" height="75" required="required">
			</div>

			<div class="form-group">
				<label for="exampleInputCheckOut">Check-Out</label> <input
					name="checkOut" type="date" class="form-control"
					placeholder="CheckOut" required="required">
			</div>

			<div class="form-group">
				<label for="exampleInputPayment">Payment: </label> <br /> <input
					name="payment" type="checkbox" value="Credit Card"> Credit
				Card <br /> <input name="payment" type="checkbox"
					value="Debit Card"> Debit Card <br /> <input
					name="payment" type="checkbox" value="Paypal"> Paypal <br />
			</div>

			<button type="submit" class="btn btn-outline-success">Save
				New Booking</button>
		</form>
		<br /> <br /> 
		<a href="/project/green/bookings"><button
				type="button" class="btn btn-outline-dark">Go Back</button></a> 

	</div>
</body>
</html>