body {
	background-color: #ffffff;
}

hr {
	color: #000000;
}

h1, h2 {
	text-align: center;
}

.center {
	text-align: center;
}

table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}