body {
	background-image: url('/img/project/blue/hotels.jpg');
	
	color: #000040;

}

h1 {
	align-text: center;
	color: #1e2782;
	font-style: italic;
}

fieldset{
	align-text: center;
	color: black;
}
