body {
	background-image: linear-gradient(to top right, #003162 0%, #11568e 50%, #ffffff 100%);
	color: #000040;
}

h3 {
	color: #ff5b5b;
}

th{
	
	color: #000040;
}

td{
	
	color: #9c384d
}