body {
	background-color:#e1e1e1;
	
}

 h3 {
 	text-align: center;
	background-color: #53aff4;
	color: white;
	
	font-weight: bold;
}

th{
	
	color: Black;
}

#rmv{
  background-color: #ffffff;
  border: none;
  color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
#rmv:hover{
   background-color: #ff4f4f;
   color: white;
}
 
 
#add{
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
#add:hover{
   background-color: #00d76b;
   color: white;
}
 
 #bck{
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
#bck:hover{
   background-color: #95ddff;
   color: white;
}
 
#messagecorrect{
	color: green;
	background-color: #c4ffc4;
	text-align: center;
}	
#messageerror2{
	color: red;
	background-color: #ffbe7d;
	text-align: center;
}
#messageerror1{
	color: #dfdf00;
	background-color: #ffffbb;
	text-align: center;
}

#newclient{
	background-color:#cae4ff;
}

.add{
	margin:auto;
	width:60%;
	border:3px solid #e1e1e1;
	padding: 10px;
}


.legend{
	face:verdana;
	color:black;
	
}
.table {
	background-color: grey;
}
