#requestBody {
	background-color:#c0c0c0;
	}

#staffWelcomeBody{
	background-color:#c0c0c0;
}

#responseBody{
	background-color:#c0c0c0;
}

h1 {
	text-align: center;
	color: #000000;
	font-style: italic;
	font-weight: bold;
	background-color: #ffffff;
}

label{

	color: #585858;
	font-weight: bold;
}


legend{
	
	color: #b7e2ff;
	font-weight: bold;
	backgroun-color: white;
}

#idLogUser{
	background-color:#80c4f7;

}

#contact{
 background-color: white; color:black; opacity: 0.5;
 width: 350px;
 padding-left: 10px;
 padding-right: 10px;
 border-left: 5px solid black;
 border-right: 5px solid black;

}

p{
	font-style: italic;
	font-weight: bold;
	background-color:#e1e1e1;
}

.button{

  background-color: #c5c2b8;
  border: none;
  color: #ffffff;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.button:hover {
  background-color: #95ddff;
  color: white;
}

#reject {
	background-color:white; color: black; opacity: 0.5;
	text-align: center;

}
