#romaBody {
	background-image: url('/img/project/blue/hotelRoma/romaSfondo.jpg');
	
	color: #000040;
	background-size: 97%;
}

#veneziaBody {
	background-image: url('/img/project/blue/hotelVenezia/VeneziaSfondo.jpg');
	
	color: #000040;
	background-size: 97%;
}


#firenzeBody{
	
	background-image: url('/img/project/blue/hotelFirenze/Firenze.jpg');
	
	color: #000040;
	background-size: 120%;
	
}

h1 {
	text-align: center;
	color: #000000;
	font-style: italic;
	font-weight: bold;
	background-color: #ffffff;
}

p{ 
	font-style: italic;
	font-weight: bold;
	color:black;
	background-color:white;
	opacity:0.6;
}

#addbooking{
	background-color:white;
	opacity:0.6;
	margin:auto;
	width:40%;
	border:3px solid #e1e1e1;
	padding: 10px;
	font-style: italic;
	font-weight: bold;
	color: #000000;
}

h3{
	text-align: center;
	color: #000000;
	font-style: italic;
	font-weight: bold;
	
}