#requestBody {
	background-color: #c0c0c0;
}

#contact {
	background-color: white;
	color: black;
	opacity: 0.5;
	width: 350px;
	padding-left: 10px;
	padding-right: 10px;
}


#Blue{
	font-style: italic;
	color: blue;
	font-weight: bold;
	
	} 


#register {
	background-color: white;
	color: black;
	opacity: 0.8;
	width: 350px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

#welcome {
	text-align: center;

}

h1 {
	text-align: center;
	color: #ffffff;
	font-style: italic;
	font-weight: bold;
	background-color: #ffffff;
}

.staffWelcome{
background-color: #c0c0c0; color:black; 
 width: 550px;
 padding-left: 1800px;
 padding-right: 10px;
 border-left: 5px solid black;
 border-right: 5px solid black;
}

#staffWelcome{
	font-style: italic;
	font-weight: bold;
	background-color:#e1e1e1;
}
	
}



.button{
	position: right
}