body {
 	background-color: gray;
 	
 	background-image:
 	linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0, 0, 255,2.5)),
 	url('/img/elmonda/sfondos.jpg');
 	
 	}
 	
 	p{
 		font-family:   /*<!--devo fare attenzione al tipo di font, conviene usare un font generale, monospace, dove tutti i caratteri hanno la stessa dimensione. tutti i browser hanno dei font che hanno dimensione variabile o monospace -->*/
 		text-align: center;
 	}
 	
 	h1, h2, h3 {    
 		background-color: blue;              <!-- -->
 		color: yellow;
 		}
 		
 		
 		#special {
 		color:violet;
 		}
 		
 		}
 		p.myClass{
 		color:blue;
 		
 		p.myClass{
 		color:violet;
 		}
 		
 		<!-- gli elementi di p che hanno myclass sono di un determinato colore, uso la classe quando voglio applicare lo stile  atutti gli elementi della classe -->
 		#blockId {
 		background-color:white;
 		}
 		
 		#spanId{
 		color: pink;
 		font-wight: bold;
 		font-style: italic;
 		}