<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Clients</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="/css/project/blue/bluestd.css"
	th:href="@{/css/project/blue/bluestd.css}" />

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
</head>

<body>


	<h3>Clients <img src="https://img.icons8.com/ios/50/000000/check-in-desk-filled.png"></h3>
	<div align="left">
	<a href="/project/blue/login"><button class="text-center" id="bck">
			<img src="https://img.icons8.com/metro/26/000000/undo.png"><b> Back to the list</b>
		</button> </a>

	<fieldset class="text-center">

		<a href="/project/blue/clients/add.html"><button
				class="text-center" id="add">
				<b>Add client</b>
			</button> </a>
	</fieldset>
	</div>

	<div id="messagecorrect">
		<h4 th:text="${SaveClient}" class="text-center"></h4>
	</div>
	<div id="messagecorrect">
		<h4 th:text="${deleteClient}" class="text-center"></h4>
	</div>
	<div id="messageerror1">
		<h4 th:text="${duplicatedmail}" th:catch="${duplicatedmail}"
			class="text-center"></h4>
	</div>
	<div id="messagecorrect">
		<h4 th:text="${editClient}" class="text-center"></h4>
	</div>

	<div id="messageerror2">
		<h4 th:text="${unexistingdId}" th:catch="${unexistingdId}"
			class="text-center"></h4>
	</div>
	<table class="table table-hover table-bordered table-striped">
		<tr id="center">
			<th>Client Id</th>
			<th>Client Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th></th>
		</tr>
		<tr th:each="client: ${clients}">
			<td th:text="${client.clientId}"></td>
			<td th:text="${client.clientName}"></td>
			<td th:text="${client.email}"></td>
			<td th:text="${client.phone}"></td>
			<td><a href="/project/blue/clients/remove.html"
				th:href="@{/project/blue/clients/remove(id=${client.clientId})}"><button
						style='font-size: 24px'>
						<i class='fas'> &#xf1f8;</i>
					</button></a></td>
			<td><a
				th:href="@{/project/blue/editClient(clientId=${client.clientId})}">
					<button style='font-size: 24px'>
						<i class='fas fa-pencil-ale'> &#xf303;</i>
					</button>
			</a></td>
		</tr>
	</table>
	<br>
	<hr>
</body>