<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Clients</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css"
	 href="/css/project/blue/bluestd.css" />
	 
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>


<body>

<h2 th:text = "${errorMessage}"
th:if = "${errorMessage}">
</h2>

	<h3> Clients</h3>

	<table class="table table-hover table-bordered table-striped" >
		<tr>
			<th>Client Id</th>
			<th>Client Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th></th>
		</tr>
		<tr th:each="client: ${clients}">
			<td th:text="${client.clientId}"></td>
			<td th:text="${client.clientName}"></td>
			<td th:text="${client.email}"></td>
			<td th:text="${client.phone}"></td>
			<td><i style='font-size:24px' class='fas' href="">&#xf1f8;</i> </td>
		</tr>
	</table>
	<br>
	<hr>

	
	<fieldset class = "text-center">
	<button class = "text-center" id = "add" >

			<a href="/project/blue/clients/add.html"> <b>Add client</b> </a>
			
			

	</button>
	
	<button class = "text-center" id = "rmv">
	
			<a href="/project/blue/clients/remove.html"> <b>Remove client</b> </a>
			
			
	</button>
	
	
	<button class = "text-center" id = "bck">
	
			<a href="/project/blue/login"> <b>Back to the list</b> </a>
			
			
	
	</button>
	</fieldset>

	
	
	
</body>