<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Clients</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css"
	href="/css/project/blue.css" />
	</head>

<body>
<h3>Table</h3>
		<table class="table">
			<tr>
				<th>Client Id</th>
				<th>Client Name</th>
				<th>Email</th>
				<th>Phone</th>
				
			</tr>
			<tr th:each="BlueClient: ${BlueClients}">
				<td th:text="${BlueClients.clientId}"></td>
				<td th:text="${BlueClients.clientName}"></td>
				<td th:text="${BlueClients.email}"></td>
				<td th:text="${BlueClients.phone}"></td>
				
			</tr>
		</table>





</body>