<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Booking confirm!</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="/css/project/blue/confirm.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">


</head>

<body class= "text-center">



		<h1 align="center" id = "h1">Your reservation has been successfully registered!</h1>
		




	<a href="/project/blue/hotelDescription"><button>
			<i style='font-size: 48px; color: #ccffcc' class='fas'>&#xf015;</i>
		</button> </a>
</body>




</html>
