<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Booking confirm!</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="/css/project/blue/confirm.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
body{
background-color:#c0c0c0
 }
</style>
</head>

<body class= "text-center">




<div class= "container-fluid border border-info" align="center">
<p class="backgroundtitles rounded float-center" align="center">
		<h1 align="center" id = "h1">
		Your reservation has been successfully registered!
		<i class="glyphicon glyphicon-thumbs-up" style="font-size:48px;color:red;"></i>
		</h1>
</div>	
<br>	

<div class="container-fluid">
	<div class="row">
	
	<div class ="col-6">
<a href="/project/blue/request.html"><button> BACK TO THE CITY
			<i style='font-size: 48px; color: black' class='fas'>&#xf015;</i>
		</button> </a>
</div>
<div class ="col-6">
<a href="/project/blue/request.html"><button> LOG-OUT 
			<img src="https://img.icons8.com/ios/50/000000/exit-filled.png">
		</button> </a>
</div>
</div>
	</div>
		
</body>




</html>
