<!-- Tabella Edit -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Clients</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="/css/project/blue/bluestd.css" th:href="@{/css/project/blue/bluestd.css}"/>
</head>
<body class="edit">

	<h3>Edit Client</h3>
	<form id="newclient" name="frmLogInsert" action="/project/blue/editSecond" method="get">
	<div  class = "container-fluid border border-info" align="center">
	<input name = "clientId" type="number" class="form-control" hidden = "true" th:value ="${clientId}" > 
 


			
			
			<label><input type = "number" hidden= true class=text-left>
			</label><br>
			<label class=text-left>Name:  
			<input type = "text" name = "clientName" class=text-left th:value = "${clientName}">
			</label><br>
			<label class=text-left>Email:  
			<input type = "text" name = "email" class=text-left th:value = "${email}">
			</label><br>
			<label class=text-left>Phone:  
			 <input type = "text" name = "phone" class=text-left th:value = "${phone}">
			</label>
			<br />
		
		<button type = "submit" class = "text-center" id = "editClient">
		<b>Edit this client!</b>
		</button> 
		</div>
	</form>


</body>
</html>
