<!-- Tabella Edit -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Booking</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="/css/project/blue/bluestd.css" th:href="@{/css/project/blue/bluestd.css}"/>
	  <script src="/js/project/blue/login.js"></script>
	
</head>
<body class="edit">

	<h3>Edit your Booking</h3>
	<form id="newbooking" name="frmLogInsert" action="/project/blue/editReadBooking" method="get" onsubmit="return checkId()">
	<div  class = "container-fluid border border-info" align="center">
	<input name = "bookingId" type="number" class="form-control" hidden = "true" th:value ="${bookingId}" > 

			<label class=text-left>Hotel Id:  
			<input type = "number" name = "hotelId" class=text-left th:value = "${hotelId}">
			</label><br>
			<label class=text-left>Client Id:  
			<input type = "number" name = "clientId" class=text-left th:value = "${clientId}">
			</label><br>
			<label class=text-left>Check In:  
			<input type = "date" name = "checkIn" class=text-left th:value = "${checkIn}">
			</label><br>
			<label class=text-left>Check Out:  
			<input type = "date" name = "checkOut" class=text-left th:value = "${checkOut}">
			</label><br><label class=text-left>Rooms:  
			<input type = "number" name = "room" class=text-left id="room" th:value = "${room}">
			</label><br>
			<br />
		
		<button type = "submit" class = "text-center" id = "editBooking">
		<b>Edit this booking!</b>
		</button> 
		</div>
	</form>


</body>
</html>
