<!-- Tabella Edit -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Clients</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="/css/project/blue/bluestd.css" th:href="@{/css/project/blue/bluestd.css}"/>
</head>
<body>
<div  class = "edit">
	<h3> Edit Hotels</h3>
	<form id="newhotel" name="frmLogInsert" action="/project/blue/editHotel2" method="get">
	<input name = "hotelId" type="number" class="form-control" hidden = "true" th:value ="${hotelId}" > 
 
 <div width= 100px; height= 50px; border =1px  align=center>
	
<div id="newclient" class="contanier-fluid border border-info"	>
<fieldset>

			<legend>Edit hotel</legend>
			<br>
			<label class=text-left>Hotel Name:  
			<input type = "text" name = "hotelName" class=text-left th:value = "${hotelName}">
			</label><br>
			<label class=text-left>Hotel City:  
			<input type = "text" name = "city" class=text-left th:value = "${city}">
			</label><br>
			<label class=text-left>Hotel Rooms:  
			 <input type = "text" name = "roomCounter" class=text-left th:value = "${roomCounter}">
			</label>
			<br />
		
		<button type = "submit" class = "text-center" id = "editHotel">
		<b>Edit this hotel!</b>
		</button> 
	</form>
	</fieldset>
</div>
  </div>
	</div>
</body>
</html>
