<!-- Tabella Edit -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Clients</title>
<script src="/js/project/blue/login.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="/css/project/blue/bluestd.css" th:href="@{/css/project/blue/bluestd.css}"/>
</head>
<body class = "edit">

<div align="left">
		<a href="/project/blue/hotels"><button class="text-center" id="bck">
				<b>Back to Hotels list</b>
			</button> </a>
			</div>
	<h3>Edit Hotel</h3>
	<form id="newhotel" name="frmLogInsert" action="/project/blue/editReadHotel" onsubmit="return checkRooms()" method="get" >
	<div class = "container-fluid border border-info" align="center">
	
	<input name = "hotelId" type="number" class="form-control" hidden = "true" th:value ="${hotelId}" > 
 
	
			<label><input type = "number" hidden= true class=text-left>
			</label><br>
			<label class=text-left>Hotel Name:  
			<input type = "text"  name = "hotelName" class=text-left id = "hotelName" th:value = "${hotelName}">
			</label><br>
			<label class=text-left>Hotel City:  
			<input type = "text" name = "city" class=text-left id = "cityName" th:value = "${city}">
			</label><br>
			<label class=text-left>Hotel Rooms:  
			 <input type = "number" name = "roomCounter" id ="roomCounter" class=text-left th:value = "${roomCounter}"  >
			</label>
			<br />
		
		<button type = "submit" class = "text-center" id = "editHotel">
		<b>Edit this hotel!</b>
		</button> 
	</div>
	</form>

 
</body>
</html>
