<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Reject</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="/css/project/blue/bluestd.css" />

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
</head>
<body>

<div align="left">
		<a href="/project/blue/hotels"><button class="text-center" id="bck">
			<img src="https://img.icons8.com/metro/26/000000/undo.png">	<b>Back to Hotels list </b>
			</button> </a>
			</div>

<fieldset class = "text-center" id = "reject">

<i class='far fa-frown' style='font-size:36px'></i>
	<h2>Hotel already exists! You can't insert the same hotel!</h2>
	

</fieldset>

</body>
</html>