<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Reject</title>
<link rel="stylesheet" type="text/css"
	href="/css/project/blue/blue.css" />

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">

</head>
<body>
	<a href="/project/blue/request.html"><button>
			<i style='font-size: 48px; color: black' class='fas'>&#xf015;</i>
		</button> </a>


<fieldset class = "text-center" id = "reject">

<i class='far fa-frown' style='font-size:36px'></i>
	<h3 th:text="'Something went wrong - Go back to the Home page'"></h3>
	

</fieldset>

</body>
</html>