<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Welcome</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/project/blue/blue.css" />
</head>
<body>
	<h1 th:text="'Hello, ' + ${user} + '!'"></h1>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-4">
				<h4 class= "text-center"></h4>
			</div>
			<div class="col-4">
				<h4 class= "text-center"></h4>
			</div>
			<div class="col-4">
				<h4 class= "text-center"></h4>
			</div>
		</div>
	</div>
	
	
	
	<table class="table table-bordered table-striped table-light">
		<tr>
			<th><h4 class= "text-center">A list of: <a href="/project/blue/clients/all">Clients</a></h4></th>
			<th><h4 class= "text-center">A list of: <a href="/project/blue/hotels">Hotels</a></h4></th>
			<th><h4 class= "text-center">A list of: <a href="/project/blue/bookings">Bookings</a></h4></th>
			
		</tr>
		</table>
</body>
</html>