body {
	background-color: #d1bbad;
	background-image: linear-gradient(to bottom, rgba(400, 400, 0, 0.10),
		rgba(100, 200, 400, 5.5)), url('/img/project/green/conc.jpg);
	background-size: 100% 100%;
}
	


	background-image: url('/img/project/green/hotel.jpg');
	color: #000040;
	background-size: 100%
	