body {
	background-image: url('/img/project/green/hotel.jpg');
	color: #000040;
	background-size: 100%
}

h1 {
	text-align: center;
	color: blue;
	font-style: italic;
	font-weight: bold;
}

h2 {
	text-align: left;
	font-color: #ffffff;
	font-style: italic;
	font-weight: bold;
}

h4 {
	font color: green;
}


legend {
	color: #298737;
	backgroun-color: white;
}

p {
	font-style: italic;
	background-color: #fdf9db;
}

table{
	background-color: rgba(255, 255, 255, 0.8);
}

.center{
	text-align: center;
}

.userpass{
	color: blue;
}

.error{
	background: black;
	text-align: center;
	color: white;
}

#welcome {
	background-color: rgba(255, 255, 255, 0.8);
	width: 600px;
	height:250px;
	color: blue;
}

#blue{
	color: blue;
}