body {
	background-image: url('/img/project/green/hotel.jpg');
	color: #000040;
	background-size: 100%
}


h1 {
	text-align: center;
	color: #0589eb;
	font-style: italic;
	font-weight: bold;
}

label {
	color: #ffffff;
	font-weight: bold;
}

legend {
	color: #298737;
	backgroun-color: white;
}

p {
	font-style: italic;
	background-color: #fdf9db;
}