body {
	background-image: url('/img/project/green/sfondo1.jpg');
	background-size: 100%;
}

h3 {
	text-align: center;
	color: #400040;
	font-style: italic;
	font-weight: bold;
}

table {
	text-align: center;
}
th {
	text-align: center;
}