body {
	background-image: url('/img/project/green/sfondo1.jpg');
	background-size: 100%;
}

h3 {
	text-align: center;
	color: #400040;
	font-style: italic;
	font-weight: bold;
}

table {
	text-align: center;
}

th {
	text-align: center;
}

.google-maps {
	position: relative;
	padding-bottom: 75%; 
	height: 0;
	overflow: hidden;
}

.google-maps > iframe {
	position: absolute;
	top: 100;
	left: 100;
	width: 100% !important;
	heigth: 100% !important;
}