body {
	background-image: url('/img/project/green/sfondo1.jpg');
	background-size: 100%;
}


h1 {
	text-align: center;
	color: blue;
	font-style: italic;
	font-weight: bold;
}

table{
		text-align: center;
	
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.google-maps {
	position: relative;
	top: 100;
	left: 100;
}

.googleframe {
	border: 5px solid #EEE;
	text-align: center;
	width: 100%;
	heigth: 50%;
}

.box {
	position: relative;
	width: 191px !important;
	height: 190px !important;
	padding: 4px;
	border: 1px solid #EEE;
	border-right: 0 solid;
	background: url(gradient.png) repeat-x fixed top left;
	overflow: auto
}

.myCarousel {
	width: 300px;
	heigth: 300px;
}

#white{
	background: white;
}

#signature{
	text-align: bottom;
}

