<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>A simple page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/tiziana/hello.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<h1>Something simple</h1>

	<p>
		These are the available regions: <span th:text="${regions}">[]</span>
	</p>

	<p>
		This is the first region in the list: <span th:text="${regions[0]}">Europe</span>
	</p>

	<div>
		This is the first region in the list:
		<div th:object="${regions[0]}">
			Name: <span th:text="*{name}"> </span>
			<br> 
			Id: <th:block th:switch="*{id}">
				  <span th:case="1">I</span>
				  <span th:case="2">II</span>
				  <span th:case="*">III</span>
			    </th:block>
		</div>
	</div>

	<h3>Table</h3>
	<div class="container-fluid">
		<table class="table table-hover table-borderless">
			<thead id="first">
				<tr>
					<th id="second">ID</th>
					<th id="second">NAME</th>
				</tr>
				<tr th:each="region: ${regions}">
					<td id="first" th:text="${region.id}"></td>
					<td id="first" th:text="${region.name}"></td>
				</tr>
			</thead>
		</table>
	</div>


	<h3>Select-Option</h3>
	<select>
		<option th:each="region: ${regions}"
			th:value="${region.id}"
			th:text="${region.name}">
		</option>
	</select>


</body>
</html>