body {
	background-color: grey;
	background-image: url('/img/tiziana/mare.jpg');
	background-size: 100%;
}

p {
	font-family: monospace;
}

h1, h2, h3 {
	color: white;
	background-color: blue;
}

#special {
	color: violet;
}

p.myClass {
	color: blue;
}

.myClass {
	color: blue;
}

#blockId {
	background-color: white;
}

#spanId {
	color: pink;
}
