body {
	background-image: linear-gradient(pink, grey);
	background-size: 100%;
}

h2 {
	color:green;
	background-color:white;
	font-style:italic;
}

#character {
	color: blue;
}

#blockId {
	background-color: pink;
}

.blueColor {
	color:blue;
}


