body {
	background-image: linear-gradient(pink, bisque);
	background-size: 100%;
}

h2 {
	color:green;
	background-color:white;
	font-style:italic;
}

#character {
	color: blue;
}

#blockId {
	background-color: #ff80ff;
}

.blueColor {
	color:blue;
}

.my1{
	background-color: #d3e39b;
	}
.my2{
	background-color: #eccd93;
	}
.my3{
	background-color: #f8fb84;
}
.my4{
	background-color: #80ff00;
}


#idmenu {
	background: #1cbd17;
}

.center {
	text-align: center;
}



