body {
	background-image: linear-gradient(pink, grey);
	background-size: 100%;
}

h2 {
	color:green;
	background-color:white;
	font-style:italic;
}

#character {
	color: blue;
}

#blockId {
	background-color: pink;
}

.blueColor {
	color:blue;
}

.my1{
	background-color: #8080ff;
	}
.my2{
	background-color: #80ffff;
	}
.my3{
	background-color: #f8fb84;
}
.my4{
	background-color: #80ff00;
}


#idmenu {
	color: blue;
}





