body {
	background-image: url('/img/claudia/stradaSfondo.jpg');
	background-size: 100% 100%;
	text-align: left;
}

p {
	font-family: monospace;
	text-align: left;
}

#special {
	color: violet;
}

#blockId {
	background-color: #b7ffb7;
}

#SpanId {
	background-color: #ffff82;
	font-weight: bold;
	font-style: italic;
}

.red {
	color: red;
}

.blue{
	color: blue;
}