<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bookings</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/project/red/red.css">
</head>
<body>
	<h3>Bookings</h3>
	<div class="container-fluid">
		<table class ="table table-hover">
			<thead class = "thead-light">
			<tr>
				<th>BOOKING ID</th>
				<th>HOTEL ID</th>
				<th>CHECK IN</th>
				<th>CHECK OUT</th>
				<th>PAYMENT</th>
			</tr>
			</thead>
			<tr th:each="booking: ${bookings}" class ="table-info">
				<td th:text =${booking.bookingId}></td>
				<td th:text =${booking.hotelId}></td>
				<td th:text =${booking.checkIn}></td>
				<td th:text =${booking.checkOut}></td>
				<td th:text =${booking.payment}></td>
			</tr>
		</table>
	</div>	

</body>
</html>