<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bookings</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/project/red/red.css">
</head>
<body id="booking">
<div class="container-fluid">
	<h3 class="backgroundtitles">Bookings</h3>
	<br>
	<div class = "left">
	<a href="/project/red/login"><button type="button" class="btn btn-info" aria-pressed="true">Go back</button>
	</a>
	<br>
	<br>
	<a href="/project/red/prepareBooking"><input type="button" value="CHECK IN" class="btn btn-success" aria-pressed="true" /></a>
	</div>
	<br>
</div>
	<div class="container-fluid">
		<table class ="table table-hover">
			<thead class = "thead-primary">
			<tr>
				<th>BOOKING ID</th>
				<th>HOTEL NAME</th>
				<th>CLIENT NAME</th>
				<th>CHECK IN</th>
				<th>CHECK OUT</th>
				<th>PAYMENT</th>
				<th>DELETE</th>
				<th>MODIFY</th>
			</tr>
			</thead>
			<tr th:each="booking: ${bookings}" class ="table-warning">
				<td th:text =${booking.bookingId}></td>
				<td th:text =${booking.hotel.hotelName}></td>
				<td th:text =${booking.client.clientName}></td>
				<td th:text =${booking.checkIn}></td>
				<td th:text =${booking.checkOut}></td>
				<td th:text =${booking.payment}></td>
				
				<td><a href="/project/red/deleteBooking?bookingId="
					th:href="@{/project/red/deleteBooking(bookingId=${booking.bookingId})}">
						<input id="button" type="image" src="/img/project/red/x.png"
						width="30" height="35">
				</a></td>

				<td><a
					th:href="@{/project/red/editBooking(bookingId=${booking.bookingId})}">
						<input id="button" type="image" src="/img/project/red/edit.png"
						width="30" height="35">
				</a></td>
				
			</tr>
		</table>
	</div>	


</body>
</html>