<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/project/red/red.css">
</head>

<body id="clients">

<h3 class="backgroundtitles">Edit Client</h3>

<br>
<div class ="container-fluid left">
<a href="/project/red/clients"><button type="button" class="btn btn-info" aria-pressed="true">Go back</button> </a>
</div>
<br>

<form id="new" name="frmLogInsert" action="/project/red/saveClient" method="get" class ="container-fluid left">
		
     <input name = "clientId" type="number" class="form-control" hidden = "true" th:value ="${clientId}" >

		<div class="form-group">
			<label>Name and Surname:</label> <input name="clientName" type="text"
				class="form-control" placeholder="Enter Name and Surname"
				th:value="${clientName}" pattern="[a-zA-z ]+">

		</div>

		<div class="form-group">
			<label>Email:</label> <input name="email" type="email"
				class="form-control" id="exampleInputEmail1"
				aria-describedby="emailHelp" placeholder="Enter Email"
				th:value="${email}">
		</div>

		<div class="form-group">
			<label>Phone: </label> <input name="phone" type="number"
				class="form-control" placeholder="Enter Phone Number"
				th:value="${phone}" pattern = "d{0,9}">
		</div>
		
		<div>
		<button type="submit" class="btn btn-primary" aria-pressed="true">Submit</button>
		<br>
		</div>
		<br>
</form>




</body>
</html>