<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/project/red/red.css">
</head>

<body id="hotels">

	<h3 class="backgroundtitles">Edit Hotel</h3>

	<div class= "container-fluid left">
	<a href="/project/red/hotels"><button type="button" class="btn btn-info" aria-pressed="true">Go back</button> 
	</a>
	<br>
	</div>
	<br>
	

	<form id="new" name="frmLogInsert" action="/project/red/saveHotel"
		method="get" onsubmit = "return capitalize()">
	
	 <input name = "hotelId" type="number" class="form-control" hidden = "true" th:value ="${hotelId}" >  

		<div class="form-group">

			<label>Hotel name:</label> <input name="hotelName" type="text"
				class="form-control" placeholder="Enter Hotel Name"
				th:value="${hotelName}" pattern="[a-zA-z ]+">
		</div>

		<div class="form-group">
			<label>City:</label> <input name="city" type="text"
				class="form-control" placeholder="Enter City" th:value="${city}" pattern="[a-zA-z ]+">
		</div>


		<div class="form-group">
			<label>Rooms: </label> <input min="2" max = "100" name="roomCounter" type="number"
				class="form-control" placeholder="Enter Room Number"
				th:value="${roomCounter}">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>



</body>
</html>