<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/project/red/red.css">
</head>

<body id="booking">

	<h3 class="container-fluid backgroundtitles">New Booking</h3>
<br>
	<div class = "container-fluid left">
	<a href="/project/red/bookings"><button type="button" class="btn btn-info" aria-pressed="true">Go back</button>
	</a>
	<br>
	</div>
	<br>

	<form id="new" name="frmLogInsert" action="/project/red/insertBooking"
		method="get" class="container-fluid left">

		<div class="form-group">
			<label>Hotel:</label> 		
		<select name="hotelId" class="form-control" >
		  <option selected disabled>Choose...</option>
			<option th:each="hotel:${hotels}" th:value="${hotel.hotelId}"
			th:text="${hotel.hotelName}" ></option>
		</select>						     	 
       	 </div>

		<div class="form-group">
			<label>Client:</label> 
		<select name="clientId" class="form-control">
		  <option selected disabled>Choose...</option>
			<option th:each="client:${clients}" th:value="${client.clientId}"
			th:text="${client.clientName}"></option>
		</select>			
   		</div>

		<div class="form-group">
			<label>Check in: </label> <input name="checkIn" type="date"
				class="form-control" placeholder="Enter Check-In Date" required="required">
			
		</div>
		
		<div class="form-group">
			<label>Check out: </label> <input name="checkOut" type="date"
				class="form-control" placeholder="Enter Check-Out Date" required="required">
			
				
		</div>
		
		<div class="form-group">
			<label>Payment: </label> <br> 
			<input type="radio" name="payment" value="Credit Card" required="required"/> Credit Card
			<img src="/img/project/red/carte.png" width="30" height="35"></img>
			<br> 
			<input type="radio" name="payment" value="Paypal"/> Paypal
			<img src="/img/project/red/paypal.png" width="30" height="35"></img>
			<br> 
			<input type="radio" name="payment" value="Cash"/> Cash
			<img src="/img/project/red/cash.png" width="30" height="35"></img>
			<br>
		</div>

		<div>
		<button type="submit" class="btn btn-primary">BOOK NOW</button>
		</div>
<br>
		</form>


</body>
</html>