<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/project/red/red.css">
</head>

<body id="clients">

<h3 class="backgroundtitles">New Client</h3>

<br>
<div class = "container-fluid left">
<a href="/project/red/clients"><button type="button" class="btn btn-info" aria-pressed="true">Go back</button>
</a>
</div>
<br>
<form id="new" name="frmLogInsert" action="/project/red/insertClient" method="get" class = "container-fluid left">
		
    
  <div class="form-group">
     
      <label>Name and Surname:</label>
        <input name="clientName" type="text" class="form-control" 
        	placeholder="Enter Name and Surname" th:unless = "${errorClient}" pattern="[a-zA-z ]+" th:value="${clientName}">  
         <input name="clientName" type="text" class="border border-danger form-control " 
         	placeholder="Enter Name and Surname" th:if = "${errorClient}" pattern="[a-zA-z ]+" th:value="${clientName}">  
       	 <small class= "error" th:if = "${errorClient}"> Name is missing!</small>
   </div>
  
   <div class="form-group"> 
    <label>Email:</label>
    <input name= "email" type="email" class="form-control" id="exampleInputEmail1"
    	aria-describedby="emailHelp" placeholder="Enter Email" th:unless = "${errorEmail}" th:value="${email}" >
    
     <input name = "email" type="text" class="border border-danger form-control"
     	aria-describedby="emailHelp" placeholder="Enter Email" th:if = "${errorEmail}" th:value = "${email}">
    <small class= "error" th:if = "${errorEmail}"> Email already existing!</small>
  </div>
 
  <div class="form-group">
      <label>Phone: </label>
        <input name = "phone" type="number" class="form-control"  placeholder="Enter Phone Number" pattern = "d{0,9}" th:value="${phone}">            
  </div>

  <div class = "container-fluid left">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  
  <br>
  
</form>


</body>
</html>