<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/project/red/red.css">
</head>

<body id="hotels">

<div>

	<h3 class="backgroundtitles">New Hotel</h3>
<br>
<div class="left container-fluid">
	<a href="/project/red/hotels"><button type="button"
			class="btn btn-info " aria-pressed="true">Go back</button> </a>
	
</div>
<br>

		<form id="new" name="frmLogInsert" action="/project/red/insertHotel"
		method="get" class="container-fluid left" onsubmit = "return capitalize()">


		<div class="form-group">

			<label>Hotel name:</label> <input name="hotelName" type="text"
				class="form-control" placeholder="Enter Hotel Name"
				th:unless="${errorHotel} or ${sameHotelCity} or ${message}" pattern="[a-zA-z ]+"> 
				
				
				<input name="hotelName"	type="text" class="border border-danger form-control"
				placeholder="Enter Hotel Name" th:if="${errorHotel} or ${sameHotelCity} or ${message}" pattern="[a-zA-z ]+" > 
				<small class="error" th:if="${errorHotel}"> Name is missing!</small>
				<small class="error" th:if="${sameHotelCity}"> This Hotel already exists in this city!</small>
				<small class="error" th:if="${message}"> This Hotel already exists in this city!</small>
		</div>

		<div class="form-group">
			<label>City:</label> <input name="city" type="text"
				class="form-control" placeholder="Enter City"
				th:unless="${errorCity} or ${sameHotelCity}" pattern="[a-zA-z ]+"> 
				
				<input name="city" type="text" class="border border-danger form-control" placeholder="Enter City"
				th:if="${errorCity} or ${sameHotelCity}" th:value="${city}" pattern="[a-zA-z ]+"> 
				<small class="error" th:if="${errorCity}"> City is missing!</small> 
				<small class="error" th:if="${sameHotelCity}"> This Hotel already exists in this city!</small>
		</div>

		<div class="form-group">
			<label>Rooms: </label> <input name="roomCounter" type="number"
				class="form-control" placeholder="Enter Room Number" th:unless="${errorRooms}">
				
				<input name="roomCounter" type="number" class="border border-danger form-control" placeholder="Enter Room Number"
				th:if="${errorRooms}" th:value="${roomCounter}"> 
				<small class="error" th:if="${errorRooms}"> RoomCounter is missing!</small>
		</div>
		<div>
		<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<br>
	</form>
</div>


</body>
</html>