<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/project/red/red.css">
</head>

<body id="booking">

	<h3 class="container-fluid backgroundtitles">New Booking</h3>
<br>
	<div class = "container-fluid left">
	<a href="/project/red/bookings"><button type="button" class="btn btn-info" aria-pressed="true">Go back</button>
	</a>
	<br>
	</div>
	<br>

	<form id="new" name="frmLogInsert" action="/project/red/insertBooking"
		method="get" class="container-fluid left">

		<div class="form-group">
		
	<!--  	<label>Hotel:</label> <input name="hotelId" type="number"
				class="form-control" placeholder="Enter Hotel Id"> -->
		
		<select >
		<option th:each="booking:${bookings}" th:value="${booking.hotel.hotelId}"
			th:text="${booking.hotel.hotelId}"></option>
		</select> 
											
         
    <!--    <input name="hotelId" type="number" class="border border-danger form-control " 
         	placeholder="Enter Hotel Id" th:if = "${errorHotel} or ${unexistingdId}" th:value="${hotelId}">  
       	 <small class= "error" th:if = "${errorHotel}"> Hotel Id is missing!</small>
       	 <small class= "error" th:if = "${unexistingdId}"> This Hotel Id doesn't exist!</small>
       	 -->   
       	 </div>

		<div class="form-group">
			<label>Client Id:</label> <input name="clientId" type="number"
				class="form-control" placeholder="Enter Client" th:unless = "${errorClient}"> 
				
         <input name="clientName" type="text" class="border border-danger form-control " 
         	placeholder="Enter Client Id" th:if = "${errorClient}" th:value="${clientName}">  
       	 <small class= "error" th:if = "${errorClient}"> Client is missing!</small>
		
		</div>

		<div class="form-group">
			<label>Check in: </label> <input name="checkIn" type="date"
				class="form-control" placeholder="Enter Check-In Date" th:unless = "${errorCheckIn}">
			
				<input name="checkIn" type="date" class="border border-danger form-control" placeholder="Enter Check-In"
				th:if="${errorCheckIn}" th:value="${checkIn}"> 
				<small class="error" th:if="${errorCheckIn}"> Check-in date is missing!</small>
		</div>
		
		<div class="form-group">
			<label>Check out: </label> <input name="checkOut" type="date"
				class="form-control" placeholder="Enter Check-Out Date"  th:unless = "${errorCheckOut}">
				
				<input name="checkOut" type="date" class="border border-danger form-control" placeholder="Enter Check-Out"
				th:if="${errorCheckOut}" th:value="${checkOut}"> 
				<small class="error" th:if="${errorCheckOut}"> Check-out date is missing!</small>
		</div>
		
		<div class="form-group">
			<label>Payment: </label> <br> 
			<input type="radio" name="payment" value="Credit Card"/> Credit Card
			<img src="/img/project/red/carte.png" width="30" height="35"></img>
			<br> 
			<input type="radio" name="payment" value="Pay pal"/> Paypal
			<img src="/img/project/red/paypal.png" width="30" height="35"></img>
			<br> 
			<input type="radio" name="payment" value="Cash"/> Cash
			<img src="/img/project/red/cash.png" width="30" height="35"></img>
			<br>
		</div>

		<div>
		<button type="submit" class="btn btn-primary">BOOK NOW</button>
		</div>
<br>
		</form>


</body>
</html>