<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Welcome to Thymeleaf</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/project/red/red.css">
</head>
<body id="error">
<br>
<div class="container-fluid text-center" >
<img src="https://steamuserimages-a.akamaihd.net/ugc/2440264453847336185/9980A84CE5EB05ED099C539282429E7F66D008B1/" 
class="img-fluid">
</div>

<hr>
	<a href="/project/red/request.html"><button type="button"
			class="btn btn-info" aria-pressed="true">Go back</button> </a>

</body>
</html>