body {
	background-color: #00ffff;
	 background-image: 
	url('/img/donatella/celeste.jpg');
	background-size: 100% 100%
	 
	
}

p {
	font-family: monospace;
}

h1, h2, h3 {
	background-color:blue;
	color: #80ffff;
}

#special {
	color: violet;
}

.myClass {
	color: purple;
}

p.myClass {
	color: yellow;
}
blockId{
	background-color: pink;
}

spanId{
	color:pink;
	font-weight: bold;
	font-style: italic;
}