body {
	background-image:
	url('http://www.commentnation.com/backgrounds/images/damask_wallpaper_seamless_background_red_and_black.jpg');
	background-size: 5%;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	}
  
a {
  color: #bc4364;
}
p{
	color:white;
}

h1, h2, h3 {
	color: #ff2b2b;
	background: black;
	font-weight: bold;
}

h4, h5, h6 {
	color: #f5e68b;
	background-color: rgba(204, 204, 204, 0.7);
	font-weight: bold;
}

table {
	background: white;
}

ol, ul {
	color: white;
	}

#signup {
	color: black;
	background-color: rgba(200,200,200,0.9);
	font-size: 12px;
}

#register {
	color: black;
	font-style: italic;
}

#fan {
	color: red;
	background-color: #000000;
}

