body {
	background-image:
	url('http://www.commentnation.com/backgrounds/images/damask_wallpaper_seamless_background_red_and_black.jpg');
	background-size: 5%;
	font-family: "Courier New", Courier, monospace;
}
#background {
	opacity:0.2;
	
}
.container {
	text-align: center;
}

p {
	color: white;
}

.lacasa {
	font-family: Verdana, Geneva, sans-serif;
}

table {
	background: white;
}

ol, ul {
	color: white;
}

.title {
	color: red;
	font-weight: bold;
	background-color: black;
}

#login {
	color: white;
	background-color: #808080;
}

#log {

	color: black;
	font-weight: bolder;
}

#fan {
	color: red;
	background-color: #000000;
}

h1 {
	color: white;
	font-weight: bold;
}

h2, h3, h4, h5, h6 {
	color: black;
	background-color: red;
	font-weight: bold;
}