body {
  background-image: linear-gradient(turquoise , white);
  background-size: 100%;
  text-align: center;
}

p {
	font-family: monospace;
}

h1, h2, h3 {
	color: white;
	background-color: salmon;
}
table {
	background-color:white;
}


#special {
	color: violet;
}

.MyClass {
	color: #ff0000;
}

p.MyClass {
	color: green;
}

#blockId {
	background-color: white;
}

#spanId {
	color: red;
	font-weight: bold;
}

