<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>GreenHotel</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/project/green/green2.css">
</head>
<body>
	<div class="container-fluid">
		<h3 class="backgroundtitles">Booking</h3>
		<div class="container-fluid">

			<table class="table table-hover">
				<thead class="thead-succes">
					<tr>
						<th>Booking Id</th>
						<th>Availability</th>
						<th>Payment</th>
					</tr>
					<tr th:each="booking: ${bookings}">
						<td th:text="${booking.bookingId}"></td>
						<td th:text="${booking.availability}"></td>
						<td th:text="${booking.payment}"></td>
					</tr>
				</thead>
			</table>

			<a href="/project/green/check-in-out.html"><button type="button">
					Do your check!</button> </a> <br /> <a href="/project/green/login"><button
					type="button">RETURN BACK</button> </a>
		</div>
	</div>
</body>
</html>