<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Clients</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/project/green/green2.css">
</head>
<body id="clients">
	<div class="container-fluid">
		<br />

		<h3 class="backgroundtitles">
			<i>Clients</i>
		</h3>
		<div>
			<a href="/project/green/addedClients.html"><button type="button"
					class="btn btn-outline-success">Add New Client</button> </a> <a
				href="/project/green/removeClients.html"><button type="button"
					value="delete client" class="btn btn-outline-danger">
					Remove Client by ID <br /> (only staff)
				</button></a> <br /> <br /> <a href="/project/green/login"><button
					type="button" class="btn btn-outline-dark">Go Back</button></a>
		</div>

		<div>
			<h4 th:text="${message}" th:if="${message}"
				class="alert alert-success text-center"></h4>

			<h4 th:text="${messageRemoved}" th:if="${messageRemoved}"
				class="alert alert-danger text-center"></h4>

			<h4 th:text="${clientEdit}" th:if="${clientEdit}"
				class="alert alert-warning text-center"></h4>
		</div>

	</div>
	<br />
	<br />
	<div class="container-fluid">
	<table class="table table-hover">
		<thead class="thead-succes">
			<tr>
				<th>Client Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tr th:each="client: ${clients}">
			<td th:text="${client.clientName}"></td>
			<td th:text="${client.email}"></td>
			<td th:text="${client.phone}"></td>
			<td><a href="/project/green/client/edit"
				th:href="@{/project/green/client/edit(clientId=${client.clientId})}">
					<button type="submit"
						class="btn btn-outline-warning btn-rounded waves-effect">Edit</button>

			</a></td>
			<td><a href="/project/green/clients/removeClients.html"
				th:href="@{/project/green/removeClients(clientId=${client.clientId})}">
					<button type="submit" class="btn btn-danger btn-rounded">Remove</button>

			</a></td>
		</tr>
	</table>
	</div>
	
	
</body>
</html>