<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>GreenHotel</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/project/green/green2.css">
</head>
<body>
	<div class="container-fluid">
		<h3 class="backgroundtitles">Welcome to:</h3>
		<div class="container-fluid">

			<h3>Our Hotels</h3><br/>
			<table class="table table-hover">
				<thead class="thead-succes">
					<tr>
						<th>Hotel Id</th>
						<th>Hotel Name</th>
						<th>City</th>
						<th>Room Counter</th>
					</tr>

					<tr th:each="hotel: ${hotels}">
						<td th:text="${hotel.hotelId}"></td>
						<td th:text="${hotel.hotelName}"></td>
						<td th:text="${hotel.city}"></td>
						<td th:text="${hotel.roomCounter}"></td>
					</tr>
				</thead>
			</table>

			<a href="/project/green/login"><button type="button">RETURN
					BACK</button> </a>
		</div>
	</div>

</body>
</html>