<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>GreenHotel</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/project/green/green2.css">

<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  -->

</head>
<body id="hotels">
	<div class="container-fluid">
		<br />
		<div class="right">
			<a href="/project/green/request.html"><button type="button"
					class="btn btn-outline-secondary">LOGOUT</button></a> <br>
		</div>
		<h3 class="backgroundtitles">
			<i>Our Hotels</i>
		</h3>
		<br />
		<div>
			<a href="/project/green/addedHotels.html"><button type="button"
					class="btn btn-outline-success">Add New Hotel</button> </a> <a
				href="/project/green/removeHotels.html"><button type="button"
					value="delete hotel" class="btn btn-outline-danger">
					Remove Hotel by ID <br /> (only staff)
				</button> </a> <br /> <br /> <a href="/project/green/login"><button
					type="button" class="btn btn-outline-dark">Go Back</button></a>
		</div>
		<br />
		<div>
			<h4 th:text="${message}" th:if="${message}"
				class="alert alert-success text-center"></h4>

			<h4 th:text="${messageRemove}" th:if="${messageRemove}"
				class="alert alert-danger text-center"></h4>

			<h4 th:text="${deleteHotel}" th:if="${deleteHotel}"
				class="alert alert-danger text-center"></h4>


			<h4 th:text="${editingDone}" th:if="${editingDone}"
				class="alert alert-warning text-center"></h4>

		</div>
		<br>
		<table class="table table-hover">
			<thead class="thead-succes">

				<br />
				<br />

				<tr>
					<td><b>Hotel Name</b></td>
					<td><b>City</b></td>
					<td><b>Room Counter</b></td>
					<td><b>Details</b></td>
				</tr>

			</thead>

			<tr th:each="hotel: ${hotels}">
				<!-- <td th:text="${hotel.hotelId}"></td> -->
				<td th:text="${hotel.hotelName}"></td>
				<td th:text="${hotel.city}"></td>
				<td th:text="${hotel.roomCounter}"></td>


				<td><a
					th:href="@{/project/green/hotel/info(hotelId=${hotel.hotelId})}">
						<button type="submit" class="btn btn-outline-info btn-rounded waves-effect">Info</button>
				</a></td>

				<td><a href="/project/green/hotel/edit"
					th:href="@{/project/green/hotel/edit(hotelId=${hotel.hotelId})}">
						<button type="submit"
							class="btn btn-outline-warning btn-rounded waves-effect">Edit</button>
				</a></td>


				<td><a href="/project/green/hotels/removeHotels.html"
					th:href="@{/project/green/removeHotels(hotelId=${hotel.hotelId})}">
						<button type="submit" class="btn btn-danger btn-rounded">Remove</button>
				</a></td>
			</tr>
		</table>
	</div>
</body>
</html>