<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Welcome to Green Hotels</title>
<link rel="stylesheet" type="text/css" href="/css/project/green/green2.css" />
<link rel="stylesheet" type="text/css" href="/css/project/green/green.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body id="sfondo">

		<br> 
	<div class="container-fluid right">
		<a href="/project/green/request.html"><button type="button"
				class="btn btn-outline-secondary">LOGOUT</button></a> <br>
	</div>
		<br>
		<br>
		
		<h1 class="center" th:text="'You are welcome ' + ${user} + '!'"></h1>
		
		<br>
		<br>

	<div class="center">
			<table class="table table-hover">
				<thead class="thead-succes">
					<tr>
						<th>
						<a href="/project/green/hotels"><button type="button" class="btn btn-outline-primary">Hotels</button></a></th>
						<th><a href="/project/green/clients"><button type="button" class="btn btn-outline-primary">Clients</button></a></th>
						<th> <a href="/project/green/bookings"><button type="button" class="btn btn-outline-primary">Bookings</button></a></th>
					</tr>
				</thead>
			</table>
	</div>
	
	<br>
	<br>
	<br>
	
	<div class="container-fluid center blue">
		<table class="table table-hover">
			<thead class="thead-succes">
				<tr>
		<th><i>Where we are:</i></th>
				</tr>
			</thead>
		</table>
		<div class="container-fluid">
		<iframe class="googleframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11907.03486035814!2d16.144816!3d41.747297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3dbafa4803774067!2sHotel+Baia+Delle+Zagare!5e0!3m2!1sit!2sit!4v1555664050730!5m2!1sit!2sit" 
		width="600" height="300" frameborder="0"></iframe>
		</div>
		
		<br>
		
		<div class="container-fluid center blue">
			<table class="table table-hover">
				<thead class="thead-succes">
					<tr>
						<th><i>Contacts:</i><br />
						Indirizzo: Litoranea Mattinata/Vieste, 71030, Mattinata (FG) 
						<br />
						Telefono: 0884 550155</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<br>
	<br>
</body>
</html>