<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Welcome to Thymeleaf</title>

<link rel="stylesheet" type="text/css"
	href="/css/project/green/green2.css" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
	<fieldset class="text-center">
		<br /> <br /> <br />

		<h3 th:text="'You are Welcome ' + ${user} + '!'"></h3>
		<br />
		<div class="container-fluid">
			<table class="table table-hover">
				<thead class="thead-succes">
					<tr>
						<br />
						<br />
						<br />
						<br />
						<br />
						<th>SELECT <a href="/project/green/clients"><I>Clients</I></a></th>
						<th>SELECT <a href="/project/green/hotels"><i>Hotels</i></a></th>
						<th>SELECT <a href="/project/green/bookings"><i>Bookings</i></a></th>
					</tr>
				</thead>
			</table>
		</div>
	</fieldset>
	<br />
	<br />
	<br />

	<div class="container-fluid">
		<table class="table table-hover">
			<thead class="thead-succes">
				<tr>
					<!-- <th><i>Contacts:</i><br />Indirizzo: Litoranea
						Mattinata/Vieste, 71030 Mattinata FG <br />Telefono: 0884 550155</a></th>
 -->
 		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
					<th><i>Where we are:</i></th>
				</tr>
			</thead>
		</table>

		<div class="google-maps">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2976.758711415789!2d16.142626915437003!3d41.747297079232716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1337bfca7079a51f%3A0x3dbafa4803774067!2sHotel+Baia+Delle+Zagare!5e0!3m2!1sit!2sit!4v1555577218097!5m2!1sit!2sit"
				width="400" height="300" frameborder="0" style="border: 0"
				allowfullscreen></iframe>
		</div>
		<div class="container-fluid">
			<table class="table table-hover">
				<thead class="thead-succes">
					<tr>
						<th><i>Contacts:</i><br />Indirizzo: Litoranea
							Mattinata/Vieste, 71030 Mattinata FG <br />Telefono: 0884 550155</a></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</body>
</html>