<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Welcome to Thymeleaf</title>

<link rel="stylesheet" type="text/css"
	href="/css/project/green/green2.css" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
	<fieldset class="text-center">
		<h1 th:text="'Welcome ' + ${user} + '!'"></h1>

		<p>
			Click for <a href="/project/green/clients">Clients</a>
		</p>
		<p>
			Click for <a href="/project/green/hotels">Hotels</a>
		</p>
		<p>
			Click for <a href="/project/green/bookings">Bookings</a>
		</p>
	</fieldset>
</body>
</html>