body {
	background-color: #ffff80;
	
	 
	
}

p {
	font-family: monospace;
}

h1, h2, h3 {
	background-color:yellow;
	color: #ffff00;
}

#special {
	color: violet;
}

.myClass {
	color: purple;
}

p.myClass {
	color: yellow;
}
blockId{
	background-color: pink;
}

spanId{
	color:pink;
	font-weight: bold;
	font-style: italic;
}