body {
	background-image: linear-gradient(to top right, #003162 0%, #11568e 50%, #ffffff 100%);
	color: #000040;
}

h3 {
	color: #ff5b5b;
}

h1 {
	color: #0000a0;
}

h2 {
	color: #0080ff;
}

#firms {
	background-color: white;
	color: #0000a0
}