body{
	
	background-image: linear-gradient(to top right, #003162 0%, #11568e 50%, #ffffff 100%);
	
	color: #cae4ff;	
}

h3{
	color: #0cc7dc;
}


h1 {
	color: #0000a0;
}

h2{
	
color: #0080ff;

}

#firms{
	
	background-color: white;
	color: #0000a0

	}