<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Welcome to Simple</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/claudia/simple.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
	<h1>Something simple...</h1>
	
	<p>
		These are the available regions:
		<span th:text="${regions}">[]</span>
	</p>
	<p>
		This is the first region in the list:
		<span th:text="${regions[0]}">Europe</span>
		</p>
		<p>This is the first region in the list:
		<div th:object="${regions[0]}">
		Name: <span th:text="*{regionName}"></span>
			<br />
			Id: <th:block th:switch="*{regionId}">
				<span th:case="1">I</span>
				<span th:case="2">II</span>
				<span th:case="*">III</span>
			</th:block>
		</div>
		
		<div class="container-fluid my3">
		<h3>Table</h3>
		<table class="table table-bordered table-success">
		<thead>
		<tr>
		<th>ID</th>
		<th>NAME</th>
		</tr>
		</thead>
		
			<tr th:each="region: ${regions}">
					<td th:text="${region.regionId}"></td>
					<td th:text="${region.regionName}"></td>	
				</tr>
				</table>
	
	</div>
	
		<h3>Table</h3>
		<table>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				</tr>
				
				<tr th:each="region: ${regions}">
					<td th:text="${region.regionId}"></td>
					<td th:text="${region.regionName}"></td>	
				</tr>
		</table>
		
		<h3>Select Options</h3>
		<select>
			<option th:each="region: ${regions}"
			th:value="${region.regionId}"
			th:text="${region.regionName}">
			</option>
		
		</select>
</body>
</html>