<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Welcome to my Simple</title>
<link rel= "stylesheet" type = "text/css" th:href = "@{/css/alessandraB/simple.css}">
</head>
<body>
	<h1>Here I am !</h1>

	<p>
		These are the available regions: <span th:text="${regions}">[]
		</span>

	</p>

	<p>
		This is the first region in the list: <span th:text="${regions[0]}">Europe</span>
	</p>


	<div>
		This is the first region in the list:
		<div th:object="${regions[0]}">


			Name: <span th:text="*{name}"></span> <br /> Id:
			<th:block th:switch="*{id}">
				<span th:case="1">I</span>
				<span th:case="2">II</span>
				<span th:case="2">III</span>
			</th:block>
		</div>
	</div>


	<h3>Table</h3>
	<table>

		<tr>
			<th>ID</th>
			<th>NAME</th>

		</tr>
		<tr th:each="region:${regions}">
			<!-- è come se stessi facendo un for each -->

			<td th:text="${region.id}"></td>
			<td th:text="${region.name}"></td>
		</tr>
	</table>

	<h3>Select-Option</h3>

	<select>
		<option th:each="region:${regions}" th:value="${region.id}"
			th:text="${region.name}"></option>
	</select>
	
	
	

	<p>
		These are the available countries: <span th:text="${countries}">[]
		</span>

	</p>

	<p>
		This is the first country in the list: <span th:text="${countries[0]}">Europe</span>
	</p>


	<div>
		This is the first country in the list:
		<div th:object="${countries[0]}">


			Name: <span th:text="*{name}"></span> <br /> Id:
			<th:block th:switch="*{id}">
				<span th:case="1">I</span>
				<span th:case="2">II</span>
				<span th:case="2">III</span>
			</th:block>
		</div>
	</div>


	<h3>Table</h3>
	<table>

		<tr>
			<th>ID</th>
			<th>NAME</th>

		</tr>
		<tr th:each="country:${countries}">
			<!-- è come se stessi facendo un for each -->

			<td th:text="${country.id}"></td>
			<td th:text="${country.name}"></td>
		</tr>
	</table>

	<h3>Select-Option</h3>

	<select>
		<option th:each="country:${countries}" th:value="${country.id}"
			th:text="${country.name}"></option>
	</select>
	

</body>
</html>