body {
	color:white;
	font-style:Elvetica;
	
background-image:
		url(https://upload.wikimedia.org/wikipedia/commons/6/63/Dispersion_prism.jpg);

	background-size:100%;
	
}

h1, h2, h3, h4, li, dt, dd {
	color: #ffffff;
	background: #ec1c65 ;
}

div {
	color:white;
	background-color:#ec1c65;
}

table {
	background: white;
	color: black;
}

a {
	color: white;
	background: #ec1c65;
}
btn {
	color: blue;
}
