body {
	background-image: linear-gradient(green, yellow);
	background-size:100%;
}

p {
	color: white;
}

h1, h2, h3, h4 {
	color: white;
	background-color: #ff0080;
}

#special {
	color: violet;
}

.MyClass {
	color: #ff0080;
}

p.MyClass {
	color: #0000ff;
}

#blockId {
	background-color: white;
	
}

#spanId {
	color:pink;
	font-weight:bold;
}

