body {
	background-image: url('/img/project/red/img.png');
	background-size:40%;
	color: #1093c5;
	text-align: center;
}

#error {
	background-color: black;
}
#hotels{
	background-color: #d8fee0;
}

#booking{
	background-color: #ffffdd;
}

#clients{
	background-color: #ffdddd;
}

.titles {
	color: #0c66c9;
}

.backgroundtitles{
	background-color: rgba(255, 255, 255, 0.8);
	color: #0c66c9;
}
#backgroundmessagescorrect{
	background-color: rgba(255, 255, 255, 0.8);
	color: #42bd73;
}

#backgroundmessageserror{
	background-color: rgba(255, 255, 255, 0.8);
	color: #ff0000;
}

#welcome {
width: 600px;
height: 300px;
background-color: rgba(255, 255, 255, 0.8);
text-align:center;
}

.error {
	color: red;
}

table {
	background-color: white;
}

#new{
	color: black;
		background-color: rgba(255, 255, 255, 0.8);
}
 